*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.About{
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0px
    
}

#arrow{
    margin-left: 45%;
}

.para1{
    font-weight: 600;
    font-size: 40px;
    color: rgb(238, 238, 238);
    line-height: 68px;
    font-family: Caveat, cursive;
    
} 
.bc{

    background-image: url('../assets/9b188d6e-8e92-42dc-816d-c741ab2ce0bc.jpg');
    background-position: 100% 70%;
    background-size: cover;
    margin:0px;
    height: 400px;

    
    
}

.audio-container {
    max-width: 1400px;
    margin: 20px auto;
    padding: 10px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    margin-top: 30px;
}

.audio-player {
    width: 100%;
    outline: none; 
}

.audio-player::-webkit-media-controls-panel {
    background-color: #000000;
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    color: black;
}



li{
    width: 100%;
    text-wrap: wrap;
}
section{
    height: 2500px;
    width: 90%;
    margin-left: 60px;
    background:#0c0c0c;
    box-shadow:  rgba(255, 255, 255, 0.15) 0px 4px 40px;
}


/* !__________________________________________ */

section {
    
    padding: 20px;
    box-sizing: border-box; 
}


form {
    width: 100%;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

ul {
    list-style: none; 
    margin: 0; 
    padding: 0; 
    width: 100%; 
}


li {
    width: 100%;
    margin: 0; 
    padding: 0; 
    font-size: 20px;
}


