
.Home {
    font-family: 'Caveat', cursive;
    height:600px; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px; 
   
}

.App{
    
    margin-bottom: 500px;
}

.abhi {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
    width: 60%; 
    padding: 20px; 
    padding-bottom: 250px;
}

.abhi h1 {
    color: #ff6347; 
    font-size: 2.5rem; 
    margin-bottom: 10px; 
    text-align: left;
}


.image {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 45%; 
    overflow: hidden; 
    box-shadow:  rgba(255, 255, 255, 0.15) 0px 4px 40px;
    height: 75%;      
    margin-right: 60px;
   margin-top: 20px;
    
}



.image img {
 
    box-shadow:  rgba(255, 255, 255, 0.15) 0px 4px 40px;
    max-width: 100%; 
    max-height: 100%;
    height: auto; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 400px;    
    
    
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    display:flexbox;
   
    margin-bottom: 70px;
   
    margin-left: 9%;
 
    position: fixed;
    margin-top: 600px;
    
    

}

.footer__socials a {
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
    
    font-size: 30px;
}

.footer__socials a:hover {
    background: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg);
}

.footer__copyright{
    display: flex;
    position: absolute;
    margin-top: 70px;
    margin-right: 50px;
}










 